@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@font-face {
  font-family: 'BricolageExtraBold';
  src: url('/font/BricolageGrotesque-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}


@layer utilities {
  .animate-bounce-sm {
    animation: bounce-sm 0.3s ease-in-out;
  }
  @keyframes bounce-sm {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
  pointer-events: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

@keyframes bounce-soft {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-soft {
  animation: bounce-soft 2s infinite ease-in-out;
}



/* Oculta scroll horizontal sin afectar el scroll funcional */
.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.snowflake {
  position: fixed;
  top: -10px;
  z-index: 2147483647;
  color: skyblue;
  user-select: none;
  pointer-events: none;
  animation-name: snowfall;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: 10s;
  font-size: 20px;
}

.snowflake::before {
  content: "❄";
}

@keyframes snowfall {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}
