@import "tailwindcss";
@import "mapbox-gl/dist/mapbox-gl.css";

@layer utilities {
  .animate-bounce-sm {
    animation: bounce-sm 0.3s ease-in-out;
  }
  @keyframes bounce-sm {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
  pointer-events: none !important;
  visibility: hidden !important;
  height: 0 !important;
}

@keyframes bounce-soft {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

.animate-bounce-soft {
  animation: bounce-soft 2s infinite ease-in-out;
}
